.email input{
    border: none;
    border-radius: 6px;
    height: 43px ;
    padding-left: 15px;
}
.email{
    gap: 5px;
}
.addres{
    margin: auto;
    color: rgb(18, 107, 18);
    font-size: 1rem;
    margin-top: 35px;
    padding: 10px 15px;
    border-radius: 10px;
    background: white;
    font-weight: bold;
}


#map-container {
    width: 600px; /* Adjust width as needed */
    height: 450px; /* Adjust height as needed */
    border: 1px solid #ccc; /* Optional: Add a border */
    border-radius: 8px; /* Optional: Add border radius */
    overflow: hidden; /* Optional: Hide overflow */
}

#map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}


@media (max-width: 768px) {
    
#map-container {
    width: 300px; /* Adjust width as needed */
    height: 400px; /* Adjust height as needed */
    border: 1px solid #ccc; /* Optional: Add a border */
    border-radius: 8px; /* Optional: Add border radius */
    overflow: hidden; /* Optional: Hide overflow */
    margin-left: 15%;
}


    #map-container iframe {
        width: 100%;
        height:100%;
        border: 0;
    }
    
}